* {
    box-sizing: border-box;
    font-family: "Arial";
    color: rgb(42, 42, 46)
}

.container {
    max-width: 90vw;
    margin: auto;
}

header {
    min-height: 15vh;
    line-height: 15vh;
}

header .heading {
    font-size: 3rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.lab-icon {
    height: 64px;
}

main {
    min-height: 85vh;
}

footer {
    color: white;
    background-color: rgb(42, 42, 46);
    height: 10vh;
}

footer a {
    color: white;
}

.button {
    color: white;
    background-color: mediumseagreen;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: mediumseagreen;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px grey;
}

.transaction-list {
    list-style: none;
}

.list-item-name {
    font-weight: bold;
}

.group-container {
    min-height: 10vh;
    margin-top: 15px;
}

.group {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 8vh;
    font-size: 1.5rem;
    border: 1px solid black;
    word-wrap: break-word;
}

.big-group {
    #height: 25%;
}

.group-dragged-over {
    border-style: dashed;
    background-color: aliceblue;
}

.big-group-outer {
    overflow-y: scroll;
    height: 90vh;
    position: fixed;
    top: 5vh;
    background-color: #8ab9b9;
    width: 90vw;
    -ms-overflow-style: none;
    padding: 15px;
    z-index: 3;
}

.group-container-big {
    height: auto;
    width: 100%;
}

.transaction-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.transaction {
    user-select: none;
    -webkit-user-drag: element;
    -khtml-user-drag: element;
    word-wrap: break-word;
    background-color: mediumseagreen;
    width: 100%;
}

.transaction:hover {
    cursor: pointer;
    background-color: #ebebeb;
    box-shadow: 2px 2px 5px grey;
}

.transaction ul {
    padding: 5px;
}

.upload-container {
    min-height: 5vh;
    line-height: 5vh;
    font-size: 2rem;
    width: 100%;
}

.invisible {
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.cover {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(48, 48, 48, 0.86);
    z-index: 1;
}

.analysis-outer {

}

.analysis-container {
    overflow-y: scroll;
    height: 90vh;
    position: fixed;
    top: 5vh;
    background-color: #8ab9b9;
    width: 90vw;
    -ms-overflow-style: none;
    padding: 15px;
    z-index: 3;
}

.analysis-container::-webkit-scrollbar {
    display: none;
}

.analysis {
    height: auto;
    width: 100%;
}

.analysis-group {
    height: 10vh;
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0;
}

.analysis-name {
    font-weight: bold;
}

.analysis-count-name {
    font-weight: bold;
}

.analysis-count-value {

}

.analysis-total-name {
    font-weight: bold;
}

.analysis-total-value {

}

.analysis-close {
    cursor: pointer;
    height: 64px;
}

.close-image-container {
    text-align: right;
    height: 5vh;
}

.analysis-button {
    min-height: 5vh;
    line-height: 5vh;
    font-size: 2rem;
}

.small-add-group {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
}